# 🌌 Configurações de Ambiente da Suíte Chantry

# Integração com Discord API
DISCORD_APP_ID=
DISCORD_PUBLIC_KEY=
DISCORD_BOT_TOKEN=

# Banco de Dados (PocketBase)
POCKETBASE_URL=http://pocketbase:8090
PB_ADMIN_EMAIL=admin@chantry.local
PB_ADMIN_PASSWORD=chantry_admin_123!

# Configurações Globais do Servidor
TIMEZONE=America/Sao_Paulo
